.bgimage{
	background-image: url("https://images7.alphacoders.com/362/thumb-350-362619.jpg");
	background-size:100% 100%;
	background-attachment: fixed;
	width:100%;
	height:720px;
}
.headerset{
	padding-top:250px;
	box-sizing: border-box;
}
.services{
	padding:100px 0px 60px;

}
.rowset{
	margin:80px 0px;
}
.services h1{
	font-size: 50px;
	font-weight: bold;
}
.rowset h2{
	font-family: helvitica;
	font-size: 30px;
	font-weight: bold;
	padding-top:15px;
}
.rowimg{
	padding:25px 25px;
	margin:80px,0px;
}
.colimg{
	padding:25px 25px;
	margin:80px,80px;
}
.social{
	padding:25px 25px;
}
.headerset a{
	text-decoration: none;
	color: #fff;
}
.headerset a:hover{
	text-decoration: none;
	color:#0ff;
}
.bodyimg{
background-image: url("https://images7.alphacoders.com/362/thumb-350-362619.jpg");
	background-size:100% 100%;
	background-attachment: fixed;
	width:100%;
}


.form-div{
	margin:5% auto;
	border-top:15px groove #92E0F3;
	border-bottom:15px groove #92E0F3;
}
.form-div h1{
	font-size:3.5em;
	color:#9de0f0;
	margin:2% 0;
	font-weight: 700;
}
.form-div label{
	font-size:2em;
	color:#B9E9F5;
	font-family: serif;
	font-weight: 500;
	margin:2% 0;
}

.form-div input[type="submit"]{
	margin:2% 0;
	font-size:1.5em;
	font-weight:660;
}
.form-div p{
	font-size:1em;
	color: #fff;
}
.form-div a{
	font-size:1em;
}
.form-div a:hover{
	color:#f0f;
}
.formstyle{
	padding:200px;
	font-weight:bold;
}
.aboutus{
	padding:100px 0px 60px;
	margin-top:100px;
	padding-bottom:100px;
}
.headerset h1{
	font-size:700px;
}
.headerset h2{
	font-size:650px;
}
	
